.footer{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 121, 74);
    color: white;
    
    height: 100px;
   
}
.footer p{
    
    flex: 50%;
    text-indent: 0px;
    
    
}

@media screen and (min-width:800px){
   
    
}
@media screen and (max-width:800px){
   
    
}